@import "~bootstrap-icons/font/bootstrap-icons.css";

.navbar {
    max-width: 800px;
    border-radius: 30px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.nav-link {
    color: white;
    margin-right: 30px;
}

.nav-link:last-child {
    margin-right: 0;
}

.nav-link:hover {
    color: dodgerblue;
}