@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
    background: linear-gradient(to right, #222553, #000000);
}

.nav-link {
    color: white;
    margin-right: 40px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: dodgerblue;
}